header
    h1.site-heading.text-center.text-faded.d-none.d-lg-block
        span.site-heading-upper.text-quinto.mb-3 MELI FOTOGRAFIA
        span.site-heading-lower Fotografa de eventos
        //texto del header
        