doctype html
html(lang='es')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Meli Fotografia

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css

    body

        include includes/header

        include includes/navbar

        section.page-section.about-heading
            .container
                img.img-fluid.rounded.about-heading-img.mb-3.mb-lg-0(src='assets/img/melani.webp', alt='...')
                .about-heading-content
                    .row
                        .col-xl-9.col-lg-10.mx-auto
                            .bg-faded.rounded.p-5
                                h2.section-heading.mb-4
                                    span.section-heading-upper SObremi
                                    span.section-heading-lower Sobre mi
                                p
                                    | Soy Melani Avendaño, me dicen Meli tengo 25 años...Desde chica me gusto la fotografía, fotografíar todo lo que veía para luego ver nuevamente esa foto y recordar momentos, lugares, personas que marcan mi vida. No es solo sacar fotos si no capturar momentos hermosos para que queden siempre guardados en nuestro corazón y memoria al volver a ver esas imágenes. 

                                p.mb-0
                                    | Muchas personas me preguntaban si tenía mi página de fotografía y no la tenía por miedos, inseguridades y muchas cosas mas pero personas lindas fueron de ánimo para empezar este hermoso camino de la fotografía.
                                    em 
                                    | Fotografiar es colocar la cabeza, el ojo y el corazon en un mismo eje

        include includes/footer

        include includes/scripts
