doctype html
html(lang='es')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Meli Fotografia

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css

    body

        include includes/header

        include includes/navbar

        section.page-section.clearfix
            .container
                .intro
                    img.intro-img.img-fluid.mb-3.mb-lg-0.rounded(src='assets/img/intro.jpg', alt='...')
                    .intro-text.left-0.text-center.bg-faded.p-5.rounded
                        h2.section-heading.mb-4
                            span.section-heading-upper Fotografa 
                            span.section-heading-lower fotografia
                        p.mb-3
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora minus dolor, asperiores, earum beatae cum quod accusantium dolorem accusamus voluptates modi amet architecto explicabo voluptatibus voluptatum itaque saepe rem quo!
                        .intro-button.mx-auto
                            a.btn.btn-primary.btn-xl(href='#!') LINK

        section.page-section.cta
            .container
                .row
                    .col-xl-9.mx-auto
                        .cta-inner.bg-faded.text-center.rounded
                            h2.section-heading.mb-4
                                span.section-heading-upper TEXTO
                                span.section-heading-lower TEXTO
                            p.mb-0
                                | Lorem ipsum dolor sit amet consectetur, adipisicing elit. A nulla voluptas eius facere minima dolores soluta ex libero qui voluptatum non repellendus similique earum perferendis, eveniet dolore eum unde? Deserunt.

        include includes/footer

        include includes/scripts
