doctype html
html(lang='es')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Meli Fotografia

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css

    body

        include includes/header

        include includes/navbar

        section.page-section
            .container
                .product-item
                    .product-item-title.d-flex
                        .bg-faded.p-5.d-flex.ms-auto.rounded
                            h2.section-heading.mb-0
                                span.section-heading-upper Momentos Unicos
                                span.section-heading-lower Book para niños
                    img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='assets/img/ninios.webp' alt='...')
                    .product-item-description.d-flex.me-auto
                        .bg-faded.p-5.rounded
                            p.mb-0
                                | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, praesentium neque! Eveniet delectus ab, laudantium expedita nihil recusandae incidunt facilis, possimus vitae, labore suscipit ea repudiandae reprehenderit aspernatur necessitatibus odio?

        section.page-section
            .container
                .product-item
                    .product-item-title.d-flex
                        .bg-faded.p-5.d-flex.me-auto.rounded
                            h2.section-heading.mb-0
                                span.section-heading-upper Momentos Unicos
                                span.section-heading-lower Book para bebes
                    img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='assets/img/bebes.webp' alt='...')
                    .product-item-description.d-flex.ms-auto
                        .bg-faded.p-5.rounded
                            p.mb-0
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates ratione itaque at fugit unde? Minima explicabo commodi consequuntur excepturi reprehenderit ipsam officiis corporis et ut magnam, sint asperiores odit dolores.

        section.page-section
            .container
                .product-item
                    .product-item-title.d-flex
                        .bg-faded.p-5.d-flex.ms-auto.rounded
                            h2.section-heading.mb-0
                                span.section-heading-upper Dias Especiales
                                span.section-heading-lower Dia de las madres
                    img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='assets/img/madre.webp' alt='...')
                    .product-item-description.d-flex.me-auto
                        .bg-faded.p-5.rounded
                            p.mb-0
                                |Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa esse doloremque earum voluptatibus, nulla, sit itaque pariatur dolores exercitationem rerum aliquid incidunt eaque quia reprehenderit excepturi laudantium sapiente veritatis accusamus.

        include includes/footer

        include includes/scripts
